name: capstone_app
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  pocketbase: ^0.23.0+1
  shared_preferences: ^2.2.3
  http: ^1.2.1
  multicast_dns: ^0.3.2+4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
